<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Electronic_store.Properties.Settings.The_IP_of_the_electronic_store_ConnectionString"
            connectionString="Data Source=DESKTOP-JC5A2Q8\SQLEXPRESS;Initial Catalog=The_IP_of_the_electronic_store.;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>